#lielaisVirsraksts{
    text-align: center;
    font-size: 3em;
    color: hsl(120, 98%, 23%);
    font-family: helvetica; 
}
#skaititajs{
    display: block;
    text-align: center;
    font-size: 4em;
    font-family: Helvetica;
}
#poguMasivs{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(348, 68%, 46%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.20s;
}
.buttons:hover{
    background-color: hsl(348, 90%, 32%);
}

#manaPoga{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(348, 68%, 46%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.20s;
}
#manaPoga:hover{
    background-color: hsl(348, 90%, 32%);
}

.ienaidniekuSaite{
    padding: 10px 20px;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    font-family: helvetica; 
    transition: color 3.90s;
    background-color: hsl(127, 82%, 25%);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
}
.ienaidniekuSaite:hover{
    color: rgb(163, 10, 10);
}
.valoduSaite{
    text-align: left;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 1.5em;
}
#valodas{
    width: 95%;
    text-align: right;
}